<% content_for :head do %>
  <%= stylesheet_link_tag "views/bootstrap.min" %>
  <%= stylesheet_link_tag "views/dt.boot" %>
  <%= stylesheet_link_tag "views/dashboard/select.css" %>
  <%= stylesheet_link_tag "views/dashboard/icon.css" %>
  <%= stylesheet_link_tag "views/dashboard/metisMenu.min.css" %>
  <%= stylesheet_link_tag "views/dashboard/morris.css" %>
  <%= stylesheet_link_tag "views/dashboard/style.css" %>
<% end %>

<div id="page-wrapper">

  <!-- Top Bar Start -->
  <!-- Page content start -->
  <div class="page-contentbar">

    <!--left navigation start-->
    <%= render :partial => 'shared/sidebar' %>

    <!--left navigation end-->

    <!-- START PAGE CONTENT -->

    <%= render :partial => 'shared/reply' %>
    <%= render :partial => 'shared/farword' %>
    <div id="page-right-content">
    <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <div id="notification"></div>
          
          <div class="row">
            <div class="col-lg-12">
                <div class="m-b-20">
                  <table id="emails_datatables" class="table table-striped m-0">
                     
                      <tbody >
                      <button class="btn btn-info" id="b1">Reply</button>
                      <button class="btn btn-info" id="b2">Farword</button>
                      <div id="sender" data-sender-id="<%= @email.sender_id %>">
                        <% if current_user == @email.recipient %>
                          <div class="pull-left">
              <img src="<%= avatar_url(current_user) %>" alt="" class="thumb-md img-circle">
            </div>
                            <h1 > From: <%= @email.sender.full_name %> </h1>
                            <% else %>    <div class="pull-left">
              <img src="<%= avatar_url(@email.sender) %>" alt="" class="thumb-md img-circle">
            </div> <h1> To: <%= @email.recipient.full_name %> </h1> <% end %>
                            <br>
                            <h4><b>Subject:</b>  <div id="subject" data-subject="<%= @email.subject %>"> <%= @email.subject %></div> </h4><br><h6>Content:     <div id="body-content" data-content="<%= @email.body %>"> <%= @email.body %></div></h6>
                            
                            time: <%= @email.created_at.strftime("%I:%M%p-%d-%b-%Y") %>

                        </div></div> 
                      </tbody>
                  </table>
                </div>
              </div>
          </div>
            <!--- end row -->
        </div> <!-- end col -->
    </div> <!-- end row -->
  </div>
      <!-- end container -->

      <%= render :partial => 'shared/footer' %>
      <!-- end footer -->

    </div>
    <!-- End #page-right-content -->

  </div>
  <!-- end .page-contentbar -->
</div>

<script>
  window.users = <%= @email_users.html_safe %>;
  window.current_user = <%= current_user.to_json().html_safe %>;
  $(document).ready(function () {
    window.initializeInboxi();
  });
</script>